<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<property name="HOME_LOG" value="D:\\FSE_TRAINING\\Assignments\\Assignment4/mylog.log"/>

	<appender name="STDOUT"  class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="MYLOG"  class="ch.qos.logback.core.ConsoleAppender">
	<file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="org.springframework" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="javed.assignment4" level="INFO" additivity="false">
		<appender-ref ref="MYLOG" />
	</logger>
	
	<logger name="javed.assignment4" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	 
	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>